<%= form_for([@project, @team]) do |f| %>
<<<<<<< HEAD

=======
>>>>>>> 38c06c42118eba5089a615c0b35a92d9f8a9ed01
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
