<h1>New Announcement</h1>

<%= form_for([@project, @project.announcements.build]) do |f| %>

<div class="field">
  <%= f.label :announcement %><br>
  <%= f.text_field :text %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

