<p id="notice"><%= notice %></p>
<<<<<<< HEAD
<div class="row">
  <div class="small-20 large-10 columns">
<p>
=======

<div class="row">
  <div class="small-20 large-10 columns">
<p>

>>>>>>> 2a4e3ffb73c1609b70fcfec2318d759011c7b955
<p>
  <strong>Announcement:</strong>
  <%= @announcement.announcement %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
