
<div class="row">
  <div class="small-6 medium-8 large-8 small-center large-centered columns">
    <div class="container-box">
      <!-- left part -->
      <div class="object-box">
        <div class="utility-box">
          <h4><%= link_to 'New Project', new_project_path %></h4>
        </div>
        <% @projects.each do |project| %>
        <ul class="text-center">
          <li class="small-box">
            <h4><%= link_to project.title, project %></h4>
          </li>
        </ul>
        <% end %>
      </div>
      <!-- end of left part -->
      <!-- right part -->
      <div class="object-box">
        <div class="utility-box">
          <h4><%= link_to 'New Project', new_project_path %></h4>
        </div>
        <% @projects.each do |project| %>
        <ul class="text-center">
          <li class="small-box">
            <h4><%= link_to project.title, project %></h4>
          </li>
        </ul>
        <% end %>
      </div>
      <!-- end of right part -->
    </div>
  </div>
</div>
