<p id="notice"><%= notice %></p>

<div class="project">
  <% @projects.each do |project| %>
  <ul>
    <h3><%= link_to project.title, project %></h3>
  </ul>
  <% end %>
</div>


<br>

<%= link_to 'New Project', new_project_path %>
