.container-box .object-box {
  background: white;
  height: 500px;
  width: 300px;
  float: left;
  margin: 0;
}

.small-box {
  width: 300px;
  height: 45px;
  margin: 0;
  padding: 8px;
  background: #e74c3c;
  border: 0.5px solid #fff;
}

.small-box a {
  display: block;
}

.utility-box {
  height: 45px;
  background: #FAFAFA;
  a {
    color: black;
    font-size: 14px;
  }
}

.panel-box {
  height: 80px;
  background: #989898;
  width: 600px;
  a {
    color: black;
    font-size: 49px;
  }
}

